/*
    Styles in here have been minified as they do not change often.
*/

.success, .error
{
    padding: 10px;
    border-radius: 2px;
    color: #fff;
    text-shadow:1px 1px 1px #555;
}
.success
{
    border-left:solid 3px #3E860D;
    background: rgb(126,182,36);
    background: -moz-linear-gradient(top,  rgba(126,182,36,1) 0%, rgba(99,148,30,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(126,182,36,1)), color-stop(100%,rgba(99,148,30,1)));
    background: -webkit-linear-gradient(top,  rgba(126,182,36,1) 0%,rgba(99,148,30,1) 100%);
    background: -o-linear-gradient(top,  rgba(126,182,36,1) 0%,rgba(99,148,30,1) 100%);
    background: -ms-linear-gradient(top,  rgba(126,182,36,1) 0%,rgba(99,148,30,1) 100%);
    background: linear-gradient(to bottom,  rgba(126,182,36,1) 0%,rgba(99,148,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eb624', endColorstr='#63941e',GradientType=0 );
}
.error
{
    border-left:solid 3px #DF8686;
    background: rgb(182,36,41);
    background: -moz-linear-gradient(top,  rgba(182,36,41,1) 0%, rgba(148,30,30,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(182,36,41,1)), color-stop(100%,rgba(148,30,30,1)));
    background: -webkit-linear-gradient(top,  rgba(182,36,41,1) 0%,rgba(148,30,30,1) 100%);
    background: -o-linear-gradient(top,  rgba(182,36,41,1) 0%,rgba(148,30,30,1) 100%);
    background: -ms-linear-gradient(top,  rgba(182,36,41,1) 0%,rgba(148,30,30,1) 100%);
    background: linear-gradient(to bottom,  rgba(182,36,41,1) 0%,rgba(148,30,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b62429', endColorstr='#941e1e',GradientType=0 );
}

form input, form textarea, .form input, .form textarea
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border:solid 1px #ccc;
    border-bottom:solid 3px #ccc;
    box-shadow: 0 1px 3px #e5e5e5;

    border-radius: 3px;
    padding: 8px 12px;
    font-size: 12px;
    color: #666;
    outline: none;
    margin: 0;
    vertical-align: bottom;
}
form textarea, .form textarea { font-family: Verdana; color: #666; }
form input, form textarea, .form input, .form textarea { background: #fff; }
form input:hover, form textarea:hover, .form input:hover, .form textarea:hover { border:solid 1px #82B0D2; border-bottom:solid 3px #82B0D2; }

/* Buttons + Inputs */
form input[type=submit], form input[type=button], form input[type=reset],form button,
.form input[type=submit], .form input[type=button], .form input[type=reset], .form button 
{
    color: #000;
    font-weight: bold;
    font-size: 12px;
    background: rgb(247,247,247);
    background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(229,229,229,1)));
    background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%);
    background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%);
    background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%);
    background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 );
}

/* Button Hovers */
form input[type=submit]:hover, form input[type=button]:hover, form input[type=reset]:hover,form button:hover,
.form input[type=submit]:hover, .form input[type=button]:hover, .form input[type=reset]:hover, .form button:hover
{
    cursor: pointer;
    color: #005BF4;
    background: rgb(250,250,250);
    background: -moz-linear-gradient(top,  rgba(250,250,250,1) 0%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom,  rgba(250,250,250,1) 0%,rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ededed',GradientType=0 );
}